// Основные цвета
$white: #FFFFFF;
$black: #121212;

// Акцентные цвета
$primary-blue: #1D85DD;
$primary-blue-hover: #1570c2;

// Нейтральные цвета
$almost-black: #232323;
$dusty-gray: #797C84;
$charcoal-gray: #4A4A4A;
$gray-light: #C4C4C4;
$gray-light-a: #9A9A9A;
$grey-rgba: rgba(255, 255, 255, 0.5);
$grey-description: #9C9C9C;
$grey-light-text: #A9A9A9;
$grey-card: #232323;
$grey-card-border: #272727;

// Фоновые цвета
$white-f: #F4F4F4;
$bg-90-black: #2B2C31;
$bg-card: #171717;
$bg-card-border: #5D5D5D;

// Состояния
$color-disabled: #3C3C3C;
$color-placeholder: #999;
$color-success: #28a745;
$color-warning: #ffc107;
$color-error: #dc3545;
