$white: #FFFFFF;
$black: #121212;
$primary-blue: #1D85DD;
$almost-black: #232323;
$dusty-gray: #797C84;
$charcoal-gray: #4A4A4A;
$gray-light: #C4C4C4;
$grey-rgba: rgba(255, 255, 255, 0.5);
$grey-description: #9C9C9C;
$grey-card: #232323;

$white-f: #F4F4F4;
$gray-light-a: #9A9A9A;

$bg-90-black: #2B2C31;
