// Шрифты
$font-primary: 'Rubik', sans-serif;
$font-secondary: 'Source Sans 3', sans-serif;
$font-inter: 'Inter', sans-serif;

// Начертания шрифтов
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

// Размеры шрифтов
$font-size-base: 14px;
$font-size-sm: 12px;
$font-size-md: 16px;
$ont-size-md-18: 18px;
$font-size-lg: 20px;
$font-size-xl: 24px;
$font-size-ms: 35px;
$font-size-bs: 50px;